__pycache__
*.pyc
.DS_Store
__init__.py
*.ipynb_checkpoints
*.egg-info
*.xlsx
*.json
*.csv
*.pkl
*.zip
*.doc
*.docx
env/
presentations/
data/survey_data
*_raw.tsv
*.vscode
misc/
*.png
*.eps
plots/
transform.py
*_apr29.tsv
*_apr29_raw.tsv
*_apr29_binned.tsv
anonymization_check.ipynb